<div class="full-height">
    <div class="row full_view_height">
        <div class="col-sm-7 side_announcement_area"></div>
        <div class="col-sm-5">
            <div class="p-5 content_area">
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label class="input_label">E-mail</label>
                        <input type="email" class="form-control" placeholder="Email Address" formControlName="email">
                        <div *ngIf="submittedMsg && signupForm.controls.email.errors" class="error">
                            <div *ngIf="signupForm.controls.email.errors.required">
                                This field is required
                            </div>
                            <div *ngIf="signupForm.controls.email.errors.pattern">
                                Enter a valid email address
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="input_label">Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name" formControlName="firstName">
                        <div *ngIf="submittedMsg && signupForm.controls.firstName.errors" class="error">
                            <div *ngIf="signupForm.controls.firstName.errors.required">
                                This field is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="input_label">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password"
                            formControlName="lastName">
                        <div *ngIf="submittedMsg && signupForm.controls.lastName.errors" class="error">
                            <div *ngIf="signupForm.controls.lastName.errors.required">
                                This field is required
                            </div>
                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class="col-12">
                            <button type="submit" class="btn btn-special">SIGN UP</button>
                        </div>
                    </div>
                    <div class="row mt-5 pt-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
