<div class="mainContainer">
  <div class="container">
    <div class="row pt-2">
      <nav class="navbar pb-0 col">
        <!-- There will be a common component for this part in future -->
        <div class="container">
          <div class="">
            <a class="pointer action-button mr-2" (click)="gotoPreviousPage()">
              <i class="bi bi-house-fill mr-1"></i>
              <span>Sites</span>
            </a>
            <span class="action-button mr-2">
              Site 1
            </span>
            <a class="pointer action-button">
              <select class="summary-form-field pointer" (change)="navigateTo($event.target.value)">
                <option value="../site-summary" selected>Summary</option>
                <option value="../summary-table">Channels</option>
              </select>
            </a>
          </div>

          <!-- right side icons -->
          <div class="ml-auto inline-flex align-self-start">
            <div class="action-button mr-4 pointer">
              <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" class="mr-1 summary-form-field pointer"
                [opens]="opens" [drops]="drops" (datesUpdated)="datesUpdated($event)" />
              <i class="bi bi-calendar3 main-content-small-icon"></i>
            </div>
            <i class="bi bi-download mr-4 main-content-small-icon text-muted"></i>
            <i class="bi bi-gear-fill main-content-small-icon  pointer"></i>
          </div>
        </div>
      </nav>
    </div>

    <!-- main content of page will start from here -->
    <div class="row p-4">
      <!-- left side of the page -->
      <div class="col">
        <!-- row1 -->
        <div class="row my-3 p-4 summary-row">
          <div class="col-sm-6 p-0 site-summary">
            <h5>SymPRO Crow's Nest</h5>
            <p class="small">0001001</p>
            <p>Project: project A</p>
            <p>Description: NRG Test Site</p>
            <p>Commission Date: 08/31/20</p>
            <p>Longitude: 44338</p>
            <p>Latitude: -73.111</p>
            <p>Elevation: 122m</p>
            <p>Time Zone: UTC -5:00</p>
          </div>

          <div class="col-sm-6 p-0">
            <p>For map</p>
          </div>
        </div>
        <!-- row2 -->
        <h6 class="heading">Monthly Average Temperature</h6>
        <div class="row my-3 p-4 other-row">
          <app-charting [id]="'line_1'" [chartConstructor]="'chart'" [oneToOneFlag]="oneToOneFlag"
            [chartOptions]="chartOptionsOne" [chartType]="'line'" [dataChange]="dataChange">
          </app-charting>
        </div>
      </div>

      <!-- right side of the page -->
      <div class="col mt-5">
        <!-- row1 -->
        <h6 class="heading">Wind Direction</h6>
        <div class="p-4 my-3 other-row">
          <app-charting [id]="'polar_1'" [chartConstructor]="'chart'" [oneToOneFlag]="oneToOneFlag"
            [chartOptions]="chartOptionsTwo" [chartType]="'polar'" [dataChange]="dataChange">
          </app-charting>
        </div>
        <!-- row2 -->

        <h6 class="heading">Humidity</h6>
        <div class="p-4 my-3 other-row">
          <app-charting [id]="'area_1'" [chartConstructor]="'chart'" [oneToOneFlag]="oneToOneFlag"
            [chartOptions]="chartOptionsThree" [chartType]="'area'" [dataChange]="dataChange">
          </app-charting>
        </div>
      </div>
    </div>
  </div>
</div>
