<div class="container tableContainer">
  <div class="row pt-2">
    <nav class="navbar pb-0 col">
      <div>
        <button class="btn btn-secondary "> Sites </button>
        <i class="theme_color bolder mx-2">></i>
        <a class="input_label">Add New Site</a>
      </div>
    </nav>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-8">
      <div class="row justify-content-center">
        <div class="col-7 mb-4 px-1">
          <h6 class="theme_color bolder">New Site</h6>
        </div>
        <div class="row col-7">
          <div class="col-4">
            <div class="doted-border-div">WIND</div>
          </div>
          <div class="col-4">
            <div class="doted-border-div">SOLAR</div>
          </div>
          <div class="col-4">
            <div class="doted-border-div">MET STATION</div>
          </div>
        </div>
        <div class="col-7 mt-4">
          <button class="btn btn-secondary" routerLink="/site-home">CANCEL</button>
          <button class="btn btn-special float-right" routerLink="/site-home/add-site-two">NEXT</button>
        </div>
      </div>
    </div>
  </div>
</div>
