@import '~bootstrap/dist/css/bootstrap.min.css';

$fontFamily: "Avenir LT Std 65 Medium";
$bodyBg: #fafafa;
$buttonColor: #0fd6dd;
$cancelBtnColor: #7a6e6e;

$themeColor: #2699fb;
$themeFontColor: #0e89df;
$secondaryColor: #f1f8fe;
$inputBGColor: #f1f9ff;
$borderColor: #bce0fd;
$highlightedBgColor: #64b8f8;

.theme_color {
  color: $themeColor;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.theme-hr {
  border-top: 1px solid $themeColor;
}

.inline-flex {
  display: inline-flex;
}

.full-height {
  overflow: hidden;
  height: 100%;
}

.full_view_height {
  height: 100vh;
}

.width-100 {
  width: 100% !important;
}

.input_label {
  color: $themeColor;
  font-size: 12px;
  font-weight: bold;
}

.font-10px {
  font-size: 10px;
}

.form-control {
  background-color: $inputBGColor !important;
  font-size: 12px !important;
  color: $themeColor !important;
  border: 1px solid $borderColor !important;
}

.small_link {
  font-size: 11px;
  text-decoration: underline;
  color: $themeColor;
  font-weight: 600;
}

.side_announcement_area {
  background-color: $secondaryColor;
}

.btn-special {
  background-color: $themeColor !important;
  color: white !important;
  font-size: 12px !important;
  text-align: center !important;
  min-width: 90px;
}

.btn-secondary {
  background-color: $inputBGColor !important;
  color: $themeColor !important;
  font-size: 12px !important;
  text-align: center !important;
  border: none;
  min-width: 90px;
}

.container {
  max-width: 100% !important;
}

.content_area {
  bottom: 0;
  position: fixed;
  min-width: 30vw;
}

.error {
  font-size: 12px;
  color: rgb(250, 127, 127);
}

.pointer {
  cursor: pointer;
}

.header {
  background: $themeColor;
}

.site-table {
  th {
    background-color: $themeColor !important;
    padding: 4px !important;
    font-size: 13px;
  }

  td {
    border: 2px solid white;
    padding: 4px;
    background: #f1f9ff;
    font-size: 12px;
    font-weight: 600;
    color: $themeFontColor;
  }

  tr:focus {
    outline: none;
  }
}

.highlightedCell {
  background-color: $highlightedBgColor !important;
  color: white !important;
}

.accordion-cell {
  padding: 0 !important;

  .card {
    border: none;
    border-radius: 0;
    .card-header {
      padding: 4px !important;
      border: none !important;
      background: $highlightedBgColor !important;

      button {
        color: white;
        border: none !important;
        width: 100% !important;
        background: $highlightedBgColor !important;
      }
    }
  }
}


.doted-border-div {
  border: 2px dotted $themeColor;
  border-radius: 10px;
  background-color: $inputBGColor;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 130px;
  width: 130px;
  font-size: 12px;
  font-weight: 700;
  color: $themeColor;
}
